/*
#filtri{
    float: none;
    border:2px solid black;
    padding:5px;
    width: 50%;
    background-color:#505054;
    color:white;
}

#userGenerati{
    float: none;
    border:2px solid black;
    padding: 5px;
    width: 50%;
    background-color:#505054;
    color:white
}
*/